In [68]:
import pandas as pd 
import numpy as np 

df_Energy = pd.read_excel('01_data/Energy_Indicators.xls',skiprows=18,usecols=[1,3,4,5],header=None,sheet_name='Energy')

In [69]:
df_Energy.head(20)

                      1     3    4           5
0           Afghanistan   321   10   78.669280
1               Albania   102   35  100.000000
2               Algeria  1959   51    0.551010
3        American Samoa   ...  ...    0.641026
4               Andorra     9  121   88.695650
5                Angola   642   27   70.909090
6              Anguilla     2  136    0.000000
7   Antigua and Barbuda     8   84    0.000000
8             Argentina  3378   79   24.064520
9               Armenia   143   48   28.236060
10                Aruba    12  120   14.870690
11            Australia  5386  231   11.810810
12              Austria  1391  164   72.452820
13           Azerbaijan   567   60    6.384345
14              Bahamas    45  118    0.000000
15              Bahrain   574  425    0.000000
16           Bangladesh  1625   10    1.966329
17             Barbados    19   69    0.000000
18              Belarus  1142  120    0.463389
19              Belgium  2338  210    9.959739

In [70]:
df_Energy.tail(5)

                                                     1    3    4   5
260                       … denotes no data available.  NaN  NaN NaN
261                                                NaN  NaN  NaN NaN
262                                     Data Quality:   NaN  NaN NaN
263  The data are compiled primarily from the annua...  NaN  NaN NaN
264  For more information, visit http://unstats.un....  NaN  NaN NaN

In [71]:
df_Energy.shape

(265, 4)

In [72]:
df_Energy.isnull().sum()

1     5
3    38
4    38
5    38
dtype: int64

In [73]:
df_Energy.loc[:,3].tail(39)

226    480
227    NaN
228    NaN
229    NaN
230    NaN
231    NaN
232    NaN
233    NaN
234    NaN
235    NaN
236    NaN
237    NaN
238    NaN
239    NaN
240    NaN
241    NaN
242    NaN
243    NaN
244    NaN
245    NaN
246    NaN
247    NaN
248    NaN
249    NaN
250    NaN
251    NaN
252    NaN
253    NaN
254    NaN
255    NaN
256    NaN
257    NaN
258    NaN
259    NaN
260    NaN
261    NaN
262    NaN
263    NaN
264    NaN
Name: 3, dtype: object

In [74]:
df_Energy.iloc[:227]

                                                     1      3    4           5
0                                          Afghanistan    321   10   78.669280
1                                              Albania    102   35  100.000000
2                                              Algeria   1959   51    0.551010
3                                       American Samoa    ...  ...    0.641026
4                                              Andorra      9  121   88.695650
5                                               Angola    642   27   70.909090
6                                             Anguilla      2  136    0.000000
7                                  Antigua and Barbuda      8   84    0.000000
8                                            Argentina   3378   79   24.064520
9                                              Armenia    143   48   28.236060
10                                               Aruba     12  120   14.870690
11                                           Australia   5386  231   11.810810
12                                             Austria   1391  164   72.452820
13                                          Azerbaijan    567   60    6.384345
14                                             Bahamas     45  118    0.000000
15                                             Bahrain    574  425    0.000000
16                                          Bangladesh   1625   10    1.966329
17                                            Barbados     19   69    0.000000
18                                             Belarus   1142  120    0.463389
19                                             Belgium   2338  210    9.959739
20                                              Belize     13   39   64.690030
21                                               Benin    170   16    0.000000
22                                             Bermuda      6   88    0.000000
23                                              Bhutan     63   83  100.000000
24                    Bolivia (Plurinational State of)    336   32   31.477120
25                    Bonaire, Sint Eustatius and Saba      5  213    0.000000
26                              Bosnia and Herzegovina    266   70   41.464670
27                                            Botswana     86   39    0.131406
28                                              Brazil  12149   59   69.648030
29                              British Virgin Islands      2   85    0.000000
..                                                 ...    ...  ...         ...
197                                        Switzerland   1113  136   57.745480
198                               Syrian Arab Republic    542   28   11.568270
199                                         Tajikistan    106   13   99.742920
200                                           Thailand   5336   79    4.305189
201          The former Yugoslav Republic of Macedonia    117   56   26.140470
202                                        Timor-Leste      7    6    0.000000
203                                               Togo    134   19   80.180180
204                                              Tonga      3   28    0.000000
205                                Trinidad and Tobago    824  611    0.000000
206                                            Tunisia    430   39    3.492547
207                                             Turkey   4897   64   28.536690
208                                       Turkmenistan   1102  210    0.000000
209                           Turks and Caicos Islands      3   85    0.000000
210                                             Tuvalu    ...  ...    0.000000
211                                             Uganda    452   12   68.018180
212                                            Ukraine   4844  107    8.067312
213                               United Arab Emirates   2710  300    0.000000
214  United Kingdom of Great Britain and Northern I...   7920  124   10.600470
215                        United Republic of Tanzania    994   20   31.072840
216                           United States of America  90838  286   11.570980
217                       United States Virgin Islands    ...  ...    0.000000
218                                            Uruguay    196   58   71.605040
219                                         Uzbekistan   1798   62   21.328410
220                                            Vanuatu      3   10   14.705880
221                 Venezuela (Bolivarian Republic of)   2871   95   67.834520
222                                           Viet Nam   2554   28   45.321520
223                          Wallis and Futuna Islands      0   26    0.000000
224                                              Yemen    344   13    0.000000
225                                             Zambia    400   26   99.714670
226                                           Zimbabwe    480   32   52.536120

[227 rows x 4 columns]

In [75]:
df_Energy.columns =['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']

In [76]:
df_Energy.head(3)

       Country Energy Supply Energy Supply per Capita  % Renewable
0  Afghanistan           321                       10     78.66928
1      Albania           102                       35    100.00000
2      Algeria          1959                       51      0.55101

In [77]:
df_Energy=df_Energy.iloc[:227]

In [78]:
df_Energy.shape

(227, 4)

In [79]:
df_Energy['Country'].replace(['Republic of Korea','United States of America','United Kingdom of Great Britain and Northern Ireland','China, Hong Kong Special Administrative Region','Bolivia (Plurinational State of)','Iran (Islamic Republic of)']
                             ,['South Korea','United States','United Kingdom','Hong Kong','Bolivia','Iran'],inplace=True)

In [80]:
df_Energy.shape

(227, 4)

In [81]:
df_Energy.head(40)

,Country,Energy Supply,Energy Supply per Capita,% Renewable
0,Afghanistan,321,10,78.669280
1,Albania,102,35,100.000000
2,Algeria,1959,51,0.551010
3,American Samoa,...,...,0.641026
4,Andorra,9,121,88.695650
5,Angola,642,27,70.909090
6,Anguilla,2,136,0.000000
7,Antigua and Barbuda,8,84,0.000000
8,Argentina,3378,79,24.064520
9,Armenia,143,48,28.236060
10,Aruba,12,120,14.870690
11,Australia,5386,231,11.810810
12,Austria,1391,164,72.452820
13,Azerbaijan,567,60,6.384345
14,Bahamas,45,118,0.000000
15,Bahrain,574,425,0.000000
16,Bangladesh,1625,10,1.966329
17,Barbados,19,69,0.000000
18,Belarus,1142,120,0.463389
19,Belgium,2338,210,9.959739
20,Belize,13,39,64.690030
21,Benin,170,16,0.000000
22,Bermuda,6,88,0.000000
23,Bhutan,63,83,100.000000
24,Bolivia,336,32,31.477120
25,"Bonaire, Sint Eustatius and Saba",5,213,0.000000
26,Bosnia and Herzegovina,266,70,41.464670
27,Botswana,86,39,0.131406
28,Brazil,12149,59,69.648030
29,British Virgin Islands,2,85,0.000000
30,Brunei Darussalam,127,310,0.045434
31,Bulgaria,703,97,17.234610
32,Burkina Faso,164,10,14.500680
33,Burundi,58,6,86.792450
34,Cabo Verde,7,15,21.227620
35,Cambodia,250,17,57.311590
36,Cameroon,307,14,70.886260
37,Canada,10431,296,61.945430
38,Cayman Islands,8,131,0.000000
39,Central African Republic,23,5,85.635360

In [82]:
df_Energy.replace('...' , np.NaN ,inplace=True)

In [83]:
import pandas as pd
df_GDP = pd.read_csv('01_data/world_bank.csv', skiprows=4)

In [84]:
df_GDP.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Unnamed: 64
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.549721e+09,2.534637e+09,2.581564e+09,2.649721e+09,2.691620e+09,2.646927e+09,2.700559e+09,NaN,NaN,NaN
1,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,1.780428e+10,2.000162e+10,2.056105e+10,2.048487e+10,1.990711e+10,1.936264e+10,2.019176e+10,1.936297e+10,NaN,NaN
2,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.117897e+11,1.280529e+11,1.367099e+11,1.457122e+11,1.161936e+11,1.011239e+11,1.221238e+11,1.057510e+11,NaN,NaN
3,Albania,ALB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.289087e+10,1.231978e+10,1.277628e+10,1.322824e+10,1.138693e+10,1.186135e+10,1.302506e+10,1.510250e+10,NaN,NaN
4,Andorra,AND,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.442063e+09,3.164615e+09,3.281585e+09,3.350736e+09,2.811489e+09,2.877312e+09,3.013387e+09,3.236544e+09,NaN,NaN

In [85]:
df_GDP = df_GDP.drop(["Unnamed: 64", "2019", "2018","2017","2016"], axis=1)

In [86]:
df_GDP.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.424581e+09,2.615084e+09,2.745251e+09,2.498883e+09,2.390503e+09,2.549721e+09,2.534637e+09,2.581564e+09,2.649721e+09,2.691620e+09
1,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,6.971287e+09,9.747886e+09,1.010922e+10,1.243909e+10,1.585657e+10,1.780428e+10,2.000162e+10,2.056105e+10,2.048487e+10,1.990711e+10
2,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.238101e+10,6.526645e+10,8.853861e+10,7.030716e+10,8.379950e+10,1.117897e+11,1.280529e+11,1.367099e+11,1.457122e+11,1.161936e+11
3,Albania,ALB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,8.896074e+09,1.067732e+10,1.288135e+10,1.204422e+10,1.192696e+10,1.289087e+10,1.231978e+10,1.277628e+10,1.322824e+10,1.138693e+10
4,Andorra,AND,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.543257e+09,4.016972e+09,4.007353e+09,3.660531e+09,3.355695e+09,3.442063e+09,3.164615e+09,3.281585e+09,3.350736e+09,2.811489e+09

In [87]:
df_GDP['Country Name'].replace(['Korea, Rep.' , 'Iran, Islamic Rep.','Hong Kong SAR, China']
                             ,['South Korea','Iran','Hong Kong'],inplace=True)

In [88]:
df_GDP = df_GDP.drop(["Indicator Name", "Indicator Code"], axis=1)

In [89]:
df_ScimEn= pd.read_excel('01_data/scimagojr.xlsx',sheet_name='Sheet1')

In [90]:
df_ScimEn.head()

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,193483,192270,1355524,927458,7.01,196
1,2,United States,143130,139924,1551044,530169,10.84,301
2,3,Japan,41188,40775,357829,93375,8.69,166
3,4,United Kingdom,33293,32300,405816,77019,12.19,185
4,5,India,32064,31167,268746,87658,8.38,153

In [91]:
df_ScimEn_15r = df_ScimEn.iloc[:15]

In [92]:
df_ScimEn_15r.shape

(15, 8)

In [93]:
df_ScimEn_15r.head(15)

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,193483,192270,1355524,927458,7.01,196
1,2,United States,143130,139924,1551044,530169,10.84,301
2,3,Japan,41188,40775,357829,93375,8.69,166
3,4,United Kingdom,33293,32300,405816,77019,12.19,185
4,5,India,32064,31167,268746,87658,8.38,153
5,6,Germany,27966,27370,278237,59495,9.95,166
6,7,Russian Federation,26435,26196,68424,29544,2.59,75
7,8,Canada,26148,25571,395467,74112,15.12,193
8,9,France,19696,19214,238639,48462,12.12,152
9,10,Italy,18773,17987,221652,54282,11.81,135
10,11,South Korea,18217,17994,208150,39811,11.43,132
11,12,Iran,15614,15334,160505,51493,10.28,108
12,13,Brazil,15332,15132,118483,28818,7.73,109
13,14,Australia,14907,14564,196567,34134,13.19,143
14,15,Spain,14204,13916,233955,42632,16.47,149

In [94]:
df_merge_engery_GDP = pd.merge(df_Energy,df_GDP, left_on='Country', right_on='Country Name')

In [95]:
df_merge_engery_GDP_Miss = pd.merge(df_Energy,df_GDP, left_on='Country', right_on='Country Name',how='inner',indicator =True)

In [96]:
df_merge_engery_GDP_ScimEn_miss = pd.merge(df_merge_engery_GDP,df_ScimEn_15r, left_on='Country', right_on='Country',how='right',indicator =True)

In [97]:
df_missing = (df_merge_engery_GDP_Miss['_merge'] != 'both').sum()
df_missing2 = (df_merge_engery_GDP_ScimEn_miss['_merge'] != 'both').sum()
print(df_missing+df_missing2)

0

In [98]:
df_merge_engery_GDP_ScimEn_miss.shape

(15, 70)

In [99]:
df_merge_engery_GDP_ScimEn = pd.merge(df_merge_engery_GDP,df_ScimEn_15r, left_on='Country', right_on='Country',how='inner')

In [100]:
df_merge_engery_GDP_ScimEn.head()

,Country,Energy Supply,Energy Supply per Capita,% Renewable,Country Name,Country Code,1960,1961,1962,1963,...,2013,2014,2015,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,Australia,5386.0,231.0,11.81081,Australia,AUS,1.857767e+10,1.965282e+10,1.989249e+10,2.150745e+10,...,1.576184e+12,1.467484e+12,1.351694e+12,14,14907,14564,196567,34134,13.19,143
1,Brazil,12149.0,59.0,69.64803,Brazil,BRA,1.516557e+10,1.523685e+10,1.992629e+10,2.302148e+10,...,2.472806e+12,2.455994e+12,1.802214e+12,13,15332,15132,118483,28818,7.73,109
2,Canada,10431.0,296.0,61.94543,Canada,CAN,4.046172e+10,4.093495e+10,4.222745e+10,4.502999e+10,...,1.842018e+12,1.801480e+12,1.552900e+12,8,26148,25571,395467,74112,15.12,193
3,China,127191.0,93.0,19.75491,China,CHN,5.971647e+10,5.005687e+10,4.720936e+10,5.070680e+10,...,9.570406e+12,1.043853e+13,1.101554e+13,1,193483,192270,1355524,927458,7.01,196
4,France,10597.0,166.0,17.02028,France,FRA,6.222548e+10,6.746164e+10,7.560753e+10,8.475920e+10,...,2.811078e+12,2.852166e+12,2.438208e+12,9,19696,19214,238639,48462,12.12,152

In [101]:
df_merge_engery_GDP_ScimEn.shape

(15, 69)

In [102]:
df_merge_engery_GDP_ScimEn.head(15)

,Country,Energy Supply,Energy Supply per Capita,% Renewable,Country Name,Country Code,1960,1961,1962,1963,...,2013,2014,2015,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,Australia,5386.0,231.0,11.810810,Australia,AUS,1.857767e+10,1.965282e+10,1.989249e+10,2.150745e+10,...,1.576184e+12,1.467484e+12,1.351694e+12,14,14907,14564,196567,34134,13.19,143
1,Brazil,12149.0,59.0,69.648030,Brazil,BRA,1.516557e+10,1.523685e+10,1.992629e+10,2.302148e+10,...,2.472806e+12,2.455994e+12,1.802214e+12,13,15332,15132,118483,28818,7.73,109
2,Canada,10431.0,296.0,61.945430,Canada,CAN,4.046172e+10,4.093495e+10,4.222745e+10,4.502999e+10,...,1.842018e+12,1.801480e+12,1.552900e+12,8,26148,25571,395467,74112,15.12,193
3,China,127191.0,93.0,19.754910,China,CHN,5.971647e+10,5.005687e+10,4.720936e+10,5.070680e+10,...,9.570406e+12,1.043853e+13,1.101554e+13,1,193483,192270,1355524,927458,7.01,196
4,France,10597.0,166.0,17.020280,France,FRA,6.222548e+10,6.746164e+10,7.560753e+10,8.475920e+10,...,2.811078e+12,2.852166e+12,2.438208e+12,9,19696,19214,238639,48462,12.12,152
5,Germany,13261.0,165.0,17.901530,Germany,DEU,NaN,NaN,NaN,NaN,...,3.732743e+12,3.883920e+12,3.360550e+12,6,27966,27370,278237,59495,9.95,166
6,India,33195.0,26.0,14.969080,India,IND,3.702988e+10,3.923244e+10,4.216148e+10,4.842192e+10,...,1.856722e+12,2.039127e+12,2.103588e+12,5,32064,31167,268746,87658,8.38,153
7,Iran,9172.0,119.0,5.707721,Iran,IRN,4.199134e+09,4.426949e+09,4.693566e+09,4.928628e+09,...,4.674149e+11,4.344746e+11,3.858745e+11,12,15614,15334,160505,51493,10.28,108
8,Italy,6530.0,109.0,33.667230,Italy,ITA,4.038529e+10,4.484276e+10,5.038389e+10,5.771074e+10,...,2.141315e+12,2.159134e+12,1.835899e+12,10,18773,17987,221652,54282,11.81,135
9,Japan,18984.0,149.0,10.232820,Japan,JPN,4.430734e+10,5.350862e+10,6.072302e+10,6.949813e+10,...,5.155717e+12,4.850414e+12,4.389476e+12,3,41188,40775,357829,93375,8.69,166
10,South Korea,11007.0,221.0,2.279353,South Korea,KOR,3.957240e+09,2.417638e+09,2.813857e+09,3.988477e+09,...,1.305605e+12,1.411334e+12,1.382764e+12,11,18217,17994,208150,39811,11.43,132
11,Russian Federation,30709.0,214.0,17.288680,Russian Federation,RUS,NaN,NaN,NaN,NaN,...,2.297128e+12,2.059984e+12,1.363594e+12,7,26435,26196,68424,29544,2.59,75
12,Spain,4923.0,106.0,37.968590,Spain,ESP,1.207213e+10,1.383430e+10,1.613855e+10,1.907491e+10,...,1.354757e+12,1.369399e+12,1.195119e+12,15,14204,13916,233955,42632,16.47,149
13,United Kingdom,7920.0,124.0,10.600470,United Kingdom,GBR,7.323397e+10,7.774197e+10,8.124756e+10,8.656196e+10,...,2.786023e+12,3.063803e+12,2.928591e+12,4,33293,32300,405816,77019,12.19,185
14,United States,90838.0,286.0,11.570980,United States,USA,5.433000e+11,5.633000e+11,6.051000e+11,6.386000e+11,...,1.678485e+13,1.752175e+13,1.821930e+13,2,143130,139924,1551044,530169,10.84,301

In [103]:
df_merge_engery_GDP_ScimEn =df_merge_engery_GDP_ScimEn.drop(df_merge_engery_GDP_ScimEn.iloc[:, 6:52], axis=1)

In [104]:
df_merge_engery_GDP_ScimEn.shape

(15, 23)

In [105]:
df_merge_engery_GDP_ScimEn =df_merge_engery_GDP_ScimEn.drop(['Country Name','Country Code'], axis=1)

In [106]:
df_merge_engery_GDP_ScimEn.set_index('Country', inplace=True)

In [107]:
df_merge_engery_GDP_ScimEn.shape

(15, 20)

In [108]:
df_merge_engery_GDP_ScimEn.head(15)

,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
Country,,,,,,,,,,,,,,,,,,,,
Australia,5386.0,231.0,11.810810,7.460542e+11,8.530996e+11,1.053996e+12,9.278052e+11,1.146138e+12,1.396650e+12,1.546152e+12,1.576184e+12,1.467484e+12,1.351694e+12,14,14907,14564,196567,34134,13.19,143
Brazil,12149.0,59.0,69.648030,1.107640e+12,1.397084e+12,1.695825e+12,1.667020e+12,2.208872e+12,2.616201e+12,2.465189e+12,2.472806e+12,2.455994e+12,1.802214e+12,13,15332,15132,118483,28818,7.73,109
Canada,10431.0,296.0,61.945430,1.315415e+12,1.464977e+12,1.549131e+12,1.371153e+12,1.613543e+12,1.789141e+12,1.823967e+12,1.842018e+12,1.801480e+12,1.552900e+12,8,26148,25571,395467,74112,15.12,193
China,127191.0,93.0,19.754910,2.752132e+12,3.550342e+12,4.594307e+12,5.101702e+12,6.087165e+12,7.551500e+12,8.532231e+12,9.570406e+12,1.043853e+13,1.101554e+13,1,193483,192270,1355524,927458,7.01,196
France,10597.0,166.0,17.020280,2.318594e+12,2.657213e+12,2.918383e+12,2.690222e+12,2.642610e+12,2.861408e+12,2.683825e+12,2.811078e+12,2.852166e+12,2.438208e+12,9,19696,19214,238639,48462,12.12,152
Germany,13261.0,165.0,17.901530,2.992197e+12,3.421229e+12,3.730028e+12,3.397791e+12,3.396354e+12,3.744409e+12,3.527345e+12,3.732743e+12,3.883920e+12,3.360550e+12,6,27966,27370,278237,59495,9.95,166
India,33195.0,26.0,14.969080,9.402599e+11,1.216735e+12,1.198896e+12,1.341887e+12,1.675615e+12,1.823050e+12,1.827638e+12,1.856722e+12,2.039127e+12,2.103588e+12,5,32064,31167,268746,87658,8.38,153
Iran,9172.0,119.0,5.707721,2.662989e+11,3.498816e+11,4.060709e+11,4.140591e+11,4.870696e+11,5.835004e+11,5.988534e+11,4.674149e+11,4.344746e+11,3.858745e+11,12,15614,15334,160505,51493,10.28,108
Italy,6530.0,109.0,33.667230,1.947920e+12,2.210293e+12,2.398857e+12,2.191242e+12,2.134018e+12,2.291991e+12,2.087077e+12,2.141315e+12,2.159134e+12,1.835899e+12,10,18773,17987,221652,54282,11.81,135
Japan,18984.0,149.0,10.232820,4.530377e+12,4.515265e+12,5.037908e+12,5.231383e+12,5.700098e+12,6.157460e+12,6.203213e+12,5.155717e+12,4.850414e+12,4.389476e+12,3,41188,40775,357829,93375,8.69,166
South Korea,11007.0,221.0,2.279353,1.011797e+12,1.122679e+12,1.002219e+12,9.019350e+11,1.094499e+12,1.202464e+12,1.222807e+12,1.305605e+12,1.411334e+12,1.382764e+12,11,18217,17994,208150,39811,11.43,132
Russian Federation,30709.0,214.0,17.288680,9.899305e+11,1.299706e+12,1.660846e+12,1.222644e+12,1.524917e+12,2.051662e+12,2.210257e+12,2.297128e+12,2.059984e+12,1.363594e+12,7,26435,26196,68424,29544,2.59,75
Spain,4923.0,106.0,37.968590,1.259344e+12,1.472131e+12,1.625225e+12,1.485583e+12,1.420722e+12,1.478773e+12,1.324820e+12,1.354757e+12,1.369399e+12,1.195119e+12,15,14204,13916,233955,42632,16.47,149
United Kingdom,7920.0,124.0,10.600470,2.713750e+12,3.100882e+12,2.922667e+12,2.410910e+12,2.475244e+12,2.659310e+12,2.704888e+12,2.786023e+12,3.063803e+12,2.928591e+12,4,33293,32300,405816,77019,12.19,185
United States,90838.0,286.0,11.570980,1.381461e+13,1.445186e+13,1.471284e+13,1.444893e+13,1.499205e+13,1.554258e+13,1.619701e+13,1.678485e+13,1.752175e+13,1.821930e+13,2,143130,139924,1551044,530169,10.84,301

In [109]:
#['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations','Citations per document', 'H index', 'Energy Supply','Energy Supply per Capita', '% Renewable','2006', '2007', '2008','2009', '2010', '2011', '2012', '2013', '2014', '2015'].
df_merge_engery_GDP_ScimEn = df_merge_engery_GDP_ScimEn[['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations','Citations per document', 'H index', 'Energy Supply','Energy Supply per Capita', '% Renewable','2006', '2007', '2008','2009', '2010', '2011', '2012', '2013', '2014', '2015']]

In [110]:
df_merge_engery_GDP_ScimEn.head(15)

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
Australia,14,14907,14564,196567,34134,13.19,143,5386.0,231.0,11.810810,7.460542e+11,8.530996e+11,1.053996e+12,9.278052e+11,1.146138e+12,1.396650e+12,1.546152e+12,1.576184e+12,1.467484e+12,1.351694e+12
Brazil,13,15332,15132,118483,28818,7.73,109,12149.0,59.0,69.648030,1.107640e+12,1.397084e+12,1.695825e+12,1.667020e+12,2.208872e+12,2.616201e+12,2.465189e+12,2.472806e+12,2.455994e+12,1.802214e+12
Canada,8,26148,25571,395467,74112,15.12,193,10431.0,296.0,61.945430,1.315415e+12,1.464977e+12,1.549131e+12,1.371153e+12,1.613543e+12,1.789141e+12,1.823967e+12,1.842018e+12,1.801480e+12,1.552900e+12
China,1,193483,192270,1355524,927458,7.01,196,127191.0,93.0,19.754910,2.752132e+12,3.550342e+12,4.594307e+12,5.101702e+12,6.087165e+12,7.551500e+12,8.532231e+12,9.570406e+12,1.043853e+13,1.101554e+13
France,9,19696,19214,238639,48462,12.12,152,10597.0,166.0,17.020280,2.318594e+12,2.657213e+12,2.918383e+12,2.690222e+12,2.642610e+12,2.861408e+12,2.683825e+12,2.811078e+12,2.852166e+12,2.438208e+12
Germany,6,27966,27370,278237,59495,9.95,166,13261.0,165.0,17.901530,2.992197e+12,3.421229e+12,3.730028e+12,3.397791e+12,3.396354e+12,3.744409e+12,3.527345e+12,3.732743e+12,3.883920e+12,3.360550e+12
India,5,32064,31167,268746,87658,8.38,153,33195.0,26.0,14.969080,9.402599e+11,1.216735e+12,1.198896e+12,1.341887e+12,1.675615e+12,1.823050e+12,1.827638e+12,1.856722e+12,2.039127e+12,2.103588e+12
Iran,12,15614,15334,160505,51493,10.28,108,9172.0,119.0,5.707721,2.662989e+11,3.498816e+11,4.060709e+11,4.140591e+11,4.870696e+11,5.835004e+11,5.988534e+11,4.674149e+11,4.344746e+11,3.858745e+11
Italy,10,18773,17987,221652,54282,11.81,135,6530.0,109.0,33.667230,1.947920e+12,2.210293e+12,2.398857e+12,2.191242e+12,2.134018e+12,2.291991e+12,2.087077e+12,2.141315e+12,2.159134e+12,1.835899e+12
Japan,3,41188,40775,357829,93375,8.69,166,18984.0,149.0,10.232820,4.530377e+12,4.515265e+12,5.037908e+12,5.231383e+12,5.700098e+12,6.157460e+12,6.203213e+12,5.155717e+12,4.850414e+12,4.389476e+12
South Korea,11,18217,17994,208150,39811,11.43,132,11007.0,221.0,2.279353,1.011797e+12,1.122679e+12,1.002219e+12,9.019350e+11,1.094499e+12,1.202464e+12,1.222807e+12,1.305605e+12,1.411334e+12,1.382764e+12
Russian Federation,7,26435,26196,68424,29544,2.59,75,30709.0,214.0,17.288680,9.899305e+11,1.299706e+12,1.660846e+12,1.222644e+12,1.524917e+12,2.051662e+12,2.210257e+12,2.297128e+12,2.059984e+12,1.363594e+12
Spain,15,14204,13916,233955,42632,16.47,149,4923.0,106.0,37.968590,1.259344e+12,1.472131e+12,1.625225e+12,1.485583e+12,1.420722e+12,1.478773e+12,1.324820e+12,1.354757e+12,1.369399e+12,1.195119e+12
United Kingdom,4,33293,32300,405816,77019,12.19,185,7920.0,124.0,10.600470,2.713750e+12,3.100882e+12,2.922667e+12,2.410910e+12,2.475244e+12,2.659310e+12,2.704888e+12,2.786023e+12,3.063803e+12,2.928591e+12
United States,2,143130,139924,1551044,530169,10.84,301,90838.0,286.0,11.570980,1.381461e+13,1.445186e+13,1.471284e+13,1.444893e+13,1.499205e+13,1.554258e+13,1.619701e+13,1.678485e+13,1.752175e+13,1.821930e+13

In [111]:
df_merge_engery_GDP_ScimEn_avg = df_merge_engery_GDP_ScimEn

In [112]:
df_merge_engery_GDP_ScimEn_avg.shape

(15, 20)

In [232]:
df_merge_engery_GDP_ScimEn_avg ['avgGDP'] = df_merge_engery_GDP_ScimEn_avg.iloc[:,10:19].mean(axis=1,skipna=True)

/home/mhassan01/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [233]:
df_merge_engery_GDP_ScimEn_avg =df_merge_engery_GDP_ScimEn_avg[['avgGDP']]

In [234]:
df_merge_engery_GDP_ScimEn_avg.head()

                 avgGDP
Country
Australia  1.190396e+12
Brazil     2.009626e+12
Canada     1.618981e+12
China      6.464257e+12
France     2.715055e+12

In [251]:
series_avgGDP=df_merge_engery_GDP_ScimEn_avg.iloc[0:]

In [252]:
type(series_avgGDP)

pandas.core.frame.DataFrame

In [255]:
df_merge_engery_GDP_ScimEn_avg.sort_values('avgGDP')

                          avgGDP
Country
Iran                4.452915e+11
South Korea         1.141704e+12
Australia           1.190396e+12
Spain               1.421195e+12
India               1.546659e+12
Canada              1.618981e+12
Russian Federation  1.701897e+12
Brazil              2.009626e+12
Italy               2.173538e+12
France              2.715055e+12
United Kingdom      2.759720e+12
Germany             3.536224e+12
Japan               5.264648e+12
China               6.464257e+12
United States       1.538516e+13

In [113]:
    import numpy as np
    Top15 = df_merge_engery_GDP_ScimEn
    years_to_keep = np.arange(2006, 2016).astype(str)
    Top15['avgGDP'] = Top15[years_to_keep].mean(axis=1)
    Top15 = Top15.sort_values(['avgGDP'], ascending=False)
    Top15['deltaGDP'] = Top15['2015'] - Top15['2006']
    Top15 = Top15.reset_index()
    Top15.loc[5, 'deltaGDP']

119614244263.37988

In [114]:
    Top15 = df_merge_engery_GDP_ScimEn
    result = Top15['Energy Supply per Capita'].mean(axis=0)
    print (result)

157.6

In [115]:
    import numpy as np
    Top15 = df_merge_engery_GDP_ScimEn
    result = Top15['% Renewable'].argmax()
    Top15.loc[result, '% Renewable']

/home/mhassan01/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.
  This is separate from the ipykernel package so we can avoid doing imports until

69.64803

In [116]:
    Top15 = df_merge_engery_GDP_ScimEn
    Top15["Ratio"] = Top15["Self-citations"] / Top15["Citations"]
    #Top15["Ratio"].argmax() 
    Top15["Ratio"].max()

0.684206255293156

In [117]:
    Top15 = df_merge_engery_GDP_ScimEn
    Top15['median % Renewable'] = Top15['% Renewable'].median()
    Top15['HighRenew'] = Top15['% Renewable'] >= Top15['median % Renewable']
    Top15['HighRenew'].sort_values(ascending=True)

Country
Australia             False
India                 False
Iran                  False
Japan                 False
South Korea           False
United Kingdom        False
United States         False
Brazil                 True
Canada                 True
China                  True
France                 True
Germany                True
Italy                  True
Russian Federation     True
Spain                  True
Name: HighRenew, dtype: bool

In [118]:
Top15.head()

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,...,2010,2011,2012,2013,2014,2015,avgGDP,Ratio,median % Renewable,HighRenew
Country,,,,,,,,,,,,,,,,,,,,,
Australia,14,14907,14564,196567,34134,13.19,143,5386.0,231.0,11.81081,...,1.146138e+12,1.396650e+12,1.546152e+12,1.576184e+12,1.467484e+12,1.351694e+12,1.206526e+12,0.173651,17.02028,False
Brazil,13,15332,15132,118483,28818,7.73,109,12149.0,59.0,69.64803,...,2.208872e+12,2.616201e+12,2.465189e+12,2.472806e+12,2.455994e+12,1.802214e+12,1.988885e+12,0.243225,17.02028,True
Canada,8,26148,25571,395467,74112,15.12,193,10431.0,296.0,61.94543,...,1.613543e+12,1.789141e+12,1.823967e+12,1.842018e+12,1.801480e+12,1.552900e+12,1.612373e+12,0.187404,17.02028,True
China,1,193483,192270,1355524,927458,7.01,196,127191.0,93.0,19.75491,...,6.087165e+12,7.551500e+12,8.532231e+12,9.570406e+12,1.043853e+13,1.101554e+13,6.919386e+12,0.684206,17.02028,True
France,9,19696,19214,238639,48462,12.12,152,10597.0,166.0,17.02028,...,2.642610e+12,2.861408e+12,2.683825e+12,2.811078e+12,2.852166e+12,2.438208e+12,2.687371e+12,0.203077,17.02028,True

In [120]:
    Top15 = df_merge_engery_GDP_ScimEn
    ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
    Top15 = Top15.reset_index()
    Top15['Continent'] = Top15['Country'].map(ContinentDict)
    Top15['PopEst'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    result = Top15.copy()
    result = result[['Continent', 'PopEst']]
    result = result.groupby('Continent')['PopEst'].agg({'size': np.size,'sum': np.sum,'mean': np.mean,'std': np.std})
    idx = pd.IndexSlice
    print (result)

               size          sum        mean         std
Continent
Asia            5.0  2898.666387  579.733277  679.097888
Australia       1.0    23.316017   23.316017         NaN
Europe          6.0   457.929667   76.321611   34.647667
North America   2.0   352.855249  176.427625  199.669645
South America   1.0   205.915254  205.915254         NaN

/home/mhassan01/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version